html, body {
  height: 100%;
  margin: 0;
  font-family: Tahoma, Geneva, sans-serif;
  color: black;
  background-color: #f4f4f4

}

.container {
  margin: 0 auto;
  width: 100%;
  height:100%;
  overflow:hidden;
  text-align: center;
}

.container h1 {
  font-size: 30px;
  margin-top: 80px;
}

.container h2 {
  font-size: 20px;
  padding-top: 15px;

}

.container h3 {
  padding-top: 25px;
  font-size: 15px;
  text-align: center;

  margin-bottom: 0px;
}


.container form {
  margin: 25px;
}

.container input {
  width: 350px;
  height: 35px;
  font-size: 15px;
  margin: 2px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

.container button {
  background-color: #0066ff;
  border: 1px solid black;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  cursor: pointer;
}

.container p {
  padding-top: 55px;
  margin: 40px;
  font-size: 20px;
}

.container #notes {
  padding-top: 5px;
  margin: 5px;
  font-size: 15px;
}

.message {
  font-size: 15px;
}


#download-button {
  background-color: #0066ff;
  border: 1px solid black;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#download-button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  cursor: pointer;
}
