<!DOCTYPE html>


<html lang="eng">

  <title> NK's PyPractice Geocoder app </title>

  <head>
    <link href="../static/main.css" rel="stylesheet">
  </head>

    <body>
      <div class="container">
          <h1> Geo-Coding your Addresses </h1>
          <h2> Please attach a file that contains addresses you wish to geocode </h3>
          <div class="message">
            {{text | safe}}
          </div>
          <form action="{{url_for('processed_data')}}" method="POST" enctype="multipart/form-data"> <!--  #this method form posts the results to the server... the curly brackets are here so the Flask app can launch the success template  -->
            <input type="file" accept=".csv" name="file" > <br>
            <button type="submit"> Submit </button>
          </form>
          <div class="expl-note">
              <h3> A note: </h3>
              <p id="notes"> Upload a .csv file that includes a column 'Addresses'. <br>
                The app will proces the file and attach longitude and lattitude as new columns. <br>
                Addresses should have following format: Street number, Street, City, State/Country, Zip-code. <br>
              </p>
            </div>
        </div>
    </body>
</html>
